# Ignore generated run outputs and media files
/runs/
/*.mp4
/*.avi
/*.mov
/*.mkv
*.mp4
*.avi
*.mov
*.mkv
*.jpg
*.jpeg
*.png

# Python
__pycache__/
*.pyc

# VSCode
.vscode/
dataset/
.venv*
venv/
__pycache__/
*.pyc
.idea/

src/runs/detect/train*/images/
src/runs/detect/train*/labels/
src/yolov8n.pt
src/yolov8m.pt
src/runs/detect/train-night-medium/weights/*.pt