dataset/
.venv*
venv/
__pycache__/
*.pyc
.idea/

src/runs/detect/train*/images/
src/runs/detect/train*/labels/
runs/predict
src/yolov8n.pt
src/yolov8m.pt
src/runs/detect/train-night-medium/weights/*.pt