# Ignore generated run outputs and media files
/runs/
/*.mp4
/*.avi
/*.mov
/*.mkv
*.mp4
*.avi
*.mov
*.mkv
*.jpg
*.jpeg
*.png

# Python
__pycache__/
*.pyc
ai-parking-spot-detection/
# VSCode
.vscode/
dataset/
CNR-EXT_FULL_IMAGE_1000x750/
CNR_EXT_YOLO/
CNR-EXT-Patches-150x150/
.venv*
venv/
__pycache__/
*.pyc
.idea/

src/runs/detect/train*/images/
src/runs/detect/train*/labels/
src/yolov8n.pt
src/yolov8m.pt
src/runs/detect/train-night-medium/weights/*.pt

# 1. Modele AI i wagi PyTorch
*.pt
*.pth

# 2. Archiwa i duże zbiory danych
*.zip
dataset/
dataset_classifier/

# 3. Dynamiczne pliki backendu (uploady uzytkownikow, logi)
backend/uploads/
*.csv

# 4. Automatycznie generowane logi z YOLO
runs/
backend/src/runs/